<html lang="en">
    <head>
        <title>Boids Simulator</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <script src="../static/js/external/jquery-3.5.1.min.js"></script>
        <script src="../static/js/external/bootstrap.min.js"></script>
        <style>
            body {
                width: 100%;
                height: 100%;
                position: absolute;
                background: #000000;
                margin: 0;
                padding: 0;
                overscroll-behavior: none;
                overflow-x: hidden;
                overflow-y: hidden;
            }
			canvas { width: 100%; height: 100% }
            .center { text-align: center !important;}
            .hidden { display: none !important; }
            /* .text-my { color: #877da4 !important} */
            #controls-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                background: #412c70 !important;
                color: #d3d2d4 !important;
                border: none !important;
            }
            #controls-navbar {
                position: absolute;
                top: 0;
                right: 0px;
                width: 0px;
                height: 100%;
                background: #06050d80;
			}
            .control-item{ font-size: 80% !important;}
            .back-btn-field{ font-size: 1.5rem;}
            .back-btn{
                cursor: pointer;
            }
            .back-btn:hover{
                font-size: 1.6rem;
                color: #412c70 !important;
            }
        </style>
    <body>
            <button id="controls-btn" type="button" class="btn btn-circle text-light"> <i class="fas fa-sliders-h"></i> </button>
            <div id="controls-navbar" class="wrapper text-light">
                <nav id="sidebar" class="p-3">
                    <div class="sidebar-header m-2 border-bottom" style="border-color:#412c70 !important;">
                        <div class="row">
                            <div class="col-6"><h3>Controls</h3></div>
                            <div class="col"></div>
                            <div class="col-2 mt-2 back-btn-field"><i id="close-nav-btn" class="fas fa-chevron-right back-btn"></i></div>
                        </div>
                    </div>
                    <div class="form-check m-2">
                        <input class="form-check-input" type="checkbox" value="" id="grid_on">
                        <label class="form-check-label" for="grid_on">Grid</label>
                    </div>
                    <strong><p class="m-2" style="color: #390fab !important;">World</p></strong>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Boids</label>
                        </div>
                        <div id="n_boids_value_field" class="col-sm-3"><strong><span id="n_boids_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0 max=1000 value=200 id=n_boids style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">World size</label>
                        </div>
                        <div id="world_size_field" class="col-sm-3"><strong><span id="world_size_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0 max=1000 value=200 id=world_size style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Center force</label>
                        </div>
                        <div id="center_force_field" class="col-sm-3"><strong><span id="center_force_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.001 max=5 value=0.5 step=0.01 id=center_force style="width: 100px;">
                        </div>
                    </div>
                    <strong><p class="m-2" style="color: #390fab !important;">Boid</p></strong>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Max speed</label>
                        </div>
                        <div id="max_speed_field" class="col-sm-3"><span id="max_speed_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.01 max=5 value=0.5 id=max_speed step=0.1 style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Max force</label>
                        </div>
                        <div id="max_force_field" class="col-sm-3"><span id="max_force_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.001 max=1 value=0.003 step=0.001 id=max_force style="width: 100px;">
                        </div>
                    </div>
                    <strong><p class="ml-3 mb-1">Force factor</p></strong>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Separation</label>
                        </div>
                        <div id="sep_force_field" class="col-sm-3"><span id="sep_force_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.01 max=3 value=0.01 step=0.01 id=sep_force style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Cohesion</label>
                        </div>
                        <div id="coh_force_field" class="col-sm-3"><span id="coh_force_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.01 max=3 value=0.01 step=0.01 id=coh_force style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Alignment</label>
                        </div>
                        <div id="align_force_field" class="col-sm-3"><span id="align_force_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=0.01 max=3 value=0.01 step=0.01 id=align_force style="width: 100px;">
                        </div>
                    </div>
                    <strong><p class="mb-1 ml-3">Distance</p></strong>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Separation</label>
                        </div>
                        <div id="sep_dist_field" class="col-sm-3"><span id="sep_dist_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=1 max=100 value=10 step=1 id=sep_dist style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Cohesion</label>
                        </div>
                        <div id="coh_dist_field" class="col-sm-3"><span id="coh_dist_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=1 max=100 value=10 step=1 id=coh_dist style="width: 100px;">
                        </div>
                    </div>
                    <div class="row ml-2 control-item">
                        <div class="col-sm-4 p-0 ml-2">
                            <label class="">Alignment</label>
                        </div>
                        <div id="align_dist_field" class="col-sm-3"><span id="align_dist_value"></span></strong></div>
                        <div class="col-sm-4">
                            <input type=range min=1 max=100 value=10 step=1 id=align_dist style="width: 100px;">
                        </div>
                    </div>
                    
                </nav>
            </div>

            <!-- <script src="../static/js/external/THREEx.FullScreen.js"></script> -->
            <script src="../static/js/external/three.js"></script>
            <script src="../static/js/external/OrbitControls.js"></script>
            <script src="../static/js/external/Vector.js"></script>

            <script src="../static/js/3d/boid.js"></script>
            <script src="../static/js/3d/main.js"></script>
        </div>
    </body>
</html>

