<html lang="en">
    <head>
        <title>Boids Simulator</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <script src="../static/js/external/three.r119.min.js"></script>
        <script src="../static/js/external/vanta.birds.min.js"></script>
        
    <style>
        body {
            width: 100%;
            height: 100%;
            position: absolute;
            background: #000000;
            margin: 0;
            padding: 0;
            overscroll-behavior: none;
        }
        canvas { 
            width: 100%; 
            height: 100%; 
        }
    </style>
    <body>
        <div class="row" id="background"></div>

    </body>
    
    <script>
        VANTA.BIRDS({
            el: "#background",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            backgroundColor: 0x0,
            color1: 0xffffff,
            color2: 0xb2d5d,
            colorMode: "lerpGradient",
            birdSize: 1.50,
            wingSpan: 27.00,
            speedLimit: 4.00,
            separation: 50.00,
            alignment: 50.00,
            cohesion: 50.00,
            quantity: 3.00
        })
    </script>
</html>